@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gelasio:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Solway&display=swap');
/* Imagens por:
    https://pngtree.com/so/beautiful'&gt;beautiful-fromtree.com
    https://www.pexels.com/pt-br/   

    icons:https://www.flaticon.com/br/ 
*/

body {
    width: 100%;
    background-color: #717171;

}

/* Inicio com os itens nav */

.fundo {
    margin-bottom: 10%;
    background-image: url(imagens/fundo/pexels-tomas-anunziata-3876412.jpg);
    height: 730px;
    margin: auto;
}

.itens-da-nav {
    font-family: 'Comfortaa', Arial, Helvetica, sans-serif;
    padding-top: 35px;
    margin: 0px 10px;
    text-align: end;
    height: 37px;
}

.itens-da-nav li {
    padding: 10px 15px;
    font-size: 19px;
    background-color: white;
    width: 171px;
    height: 37px;
    border-radius: 5px;
    display: inline;
    margin-right: 25px;
}

.itens-da-nav li a {
    color: #312e3f;
    text-decoration: none;
}

/* Titulo do site */

.fundo h1 {
    color: #ffffff;
    padding-top: 350px;
    text-align: center;
    text-transform: uppercase;
    font: 60px 'Signika Negative', sans-serif; /*Fonte signika Negative*/
    text-shadow: -4px 7px 4px #0d0e11c7;
}

.fundo hr {
    margin: 5px auto;
    width: 40%;
}

.fundo h2 {
    color: #ffffff;
    margin: auto;
    text-align: center;
    width: 572px;
    height: 67px;
    font: normal normal 40px 'Signika Negative', sans-serif;
    text-shadow: -5px 4px 6px #07161D;
}

/* Div do sumário */

.estilo-nav ul {
    text-align: center;
    background-image: linear-gradient(to bottom, #494657, #4D7F92)
}

.estilo-nav ul li {
    display: inline-block;
    font-size: 25px;
    margin: 10px 40px;
}

.estilo-nav a {
    color: white;
}

.estilo-nav ul img {
    float: left;
    width: 35px;
    padding-left: 3px;
}

.estilo-nav img {
    padding: 0px 10px;
}

/* As Constelações */
.constelacao-de-leao img, .constelacao-de-virgem img {
    float: right;
    width: 368px;
    margin: 10px 0px 30px 32px;
}

.constelacao-de-libra img, .constelacao-de-peixe img {
    float: left;
    width: 368px;
    height: 391px;
    margin: 35px 10px;
}

.box h1 {
    color: #f1f1f1;
    padding: 20px 0px;
    font: normal bold 35px 'Gelasio', serif;
    align-items: center;
    text-align: center;
    text-shadow: 0px 4px 4px #00000040;
}

.box p {
    font: 18px 'Roboto Slab', serif;
    color: #f1f1f1;
    margin: 0px 45px;
}

/* Constelação de Libra fundo*/
.constelacao-de-libra {
    padding-bottom: 60px;
    background-image: url(imagens/Constelações/stars.png), linear-gradient(to bottom, #4A81A1b2, #84CE3Bb2);
}

/* Constelação de leão fundo*/
.constelacao-de-leao {
    background-image: url(imagens/Constelações/stars.png), linear-gradient(to bottom, #4A81A1b2, #FF6A49b2);
    padding: 20px 0px 60px 0px;
}

/*Constelação de peixes fundo*/
.constelacao-de-peixe {
    background-image: url(imagens/Constelações/stars.png), linear-gradient(to bottom, #4A81A1b2, #40CBD3b2);
    padding: 20px 0px 60px 0px;
}

/* Constelação de Virgem fundo*/ 
.constelacao-de-virgem {
    background-image: url(imagens/Constelações/stars.png), linear-gradient(to bottom, #4e839fb2, #883aa5b2);
    padding: 20px 0px 60px 0px;
}

/*DIV Assinar plano */
.assinar-fundo {
    background-image: url(imagens/assinar/Ultra\ Violet\ Galactic\ Background\ Free\ Vector.jpg)
}

.assinar-plano {
    align-items: center;
    display: inline-block;
    margin: 0px 5%;
}

.assinar-plano img {
    width: 40px;
}

.assinar-plano h2 {
    padding: 10px 5px;
    color: white;
    font-size: 30px;
    font-family: 'Solway', serif;
    margin: auto;
    background: #707CE3;
    border-radius: 5px 5px 0px 0px;
    text-shadow: 0px 4px 4px #00000040;
    
}

.assinar-plano img {
    padding-right: 10px;
}

.assinar-plano ul {
    display: inline-block;
    background-color: #f1f1f1;
    text-align: center;
    width: 335px;
    margin: 30px 30px;
    box-sizing: border-box;
    font: 18px 'Solway', serif;
    border-radius: 5px;
}

.assinar-plano li {
    vertical-align: top;
    text-align: left;
    list-style-type: disc;
    margin: 20px 0px 0px 30px;
}

.valor {
    font-family: 'Solway', serif;
    color: #3fac7e;
    font-size: 45px;
    padding-top: 15px;
}

.assinar {
    font:normal normal 30px 'Solway', serif;
    font-weight: normal;
    margin: 30px auto;
    padding: 8px 0px;
    width: 252px;
    border-radius: 15px;
    background-color: #707CE3;
    
}

.assinar a {
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 480px) {
    * {
        margin: 0;
        padding: 0;
    }

    body, main {
        width: 100%;
    }

    .assinar-plano {
        display: block;
        margin: 0px 20%;
    }

    .itens-da-nav {
        display: inline-block;
        margin: 10px 10px;
        
    }

    .titulo {
        font-size: 10px;
    }

    .fundo h1 {
        font-size: 40px;
    }

    .fundo h2 {
        width: 100%;
        font-size: 30px;
    }

    .fundo hr {
        margin: 5px auto;
        width: 90%;
    }

    .estilo-nav {
        display: inline-block;
        width: 100%;
    }

    .constelacao-de-leao, .constelacao-de-peixe, .constelacao-de-libra, .constelacao-de-virgem {
        padding: 5px 0px 25px 0px;
    }

    .constelacao-de-leao img, .constelacao-de-virgem img {
        padding: 10px;
        margin: 0px 10%;
    }

    .constelacao-de-libra img, .constelacao-de-peixe img {
        margin-top: 5px
    }
}

